{% include 'header.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Penjualan</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for('add_penjualan') }}">Tambah</a></li>

            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->    

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Bordered Table</h3>
              </div>
              <!-- /.card-header -->
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th>No</th>
                          <th>Nama Semen</th>
                          <th>Terjual</th>
                          <th>Tersisa</th>
                          <th>Keuntungan</th>
                          <th>Tanggal</th>
                          <th>Aksi</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for penjualan in penjualan %}
                      <tr>
                          <td>{{ loop.index }}</td>
                          <td>{{ penjualan[1] }}</td>
                          <td>{{ penjualan[2] }}</td>
                          <td>{{ penjualan[3] }}</td>
                          <td>{{ penjualan[4] }}</td>
                          <td>{{ penjualan[5] }}</td>
                          <td>
                              <a href="{{ url_for('edit_penjualan', nojual=penjualan[0]) }}" class="btn btn-warning">Edit</a>
                              <a href="{{ url_for('delete_penjualan', nojual=penjualan[0]) }}" class="btn btn-danger" onclick="return confirm('Apakah Anda yakin ingin menghapus data ini?');">Delete</a>
                          </td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
          </div>
      </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% include 'footer.html' %}   